<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>The Network</title>
    <link rel="icon"  href="/images/favicon.ico" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <%- include("links")%>
</head>

<body>
    <%- include("header")%>
    <main>
        <div class="uk-section uk-section-small">
            <div class="contenedor uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center"></div>
            <% if (usuario.length >= 1) { %>
                <h2>Estos son tus resultados para <%= busqueda %>:</h2>
                <% for( let i = 0; i < usuario.length; i++ ) { %>
                    <a href="/user/detalle/<%=usuario[i].id%>" > 
                        <div class="perfil">
                            <div class="imagen"> 
                                <img src=<%=usuario[i].fotoDePerfil%> alt="">
                            </div>
                            <div class="nombre-usuario">
                                <p>  <%= usuario[i].nombre%> </p>
                            </div>
                        </div>
                    </a>
                <% } %>   
            <% } else {%>
                <h2>No se encontraron resultados para <%- busqueda %>, intenta buscando otra cosa</h2>            
            <% } %>  
        </div>
    </main>
    <%- include("footer")%>
</body>

</html>